/* button{
   
    margin-left:auto;
    margin-right:auto;
    color:#0f1419;
    border: 1px solid #cfd9de;
    border-radius:50px;
    padding-top: 10;
    padding-bottom: 10;
    padding-left: 10;
    padding-right:10px;
} */


/* .main{
    margin-top:100px;
   
 }
.search{
    width: 400px;
    display:block;
    margin-top:20px;
    margin-left:auto;
   margin-right:auto;
   
   line-height:24px;
   padding-top:10px;
   padding-bottom:10px;
   padding-left:30px;
   padding-right:30px;
   border:1px solid #dfe1e5;
  border-radius: 24px;
}
.logo{
    width:300px; 
    display: block;
   margin-left:auto;
   margin-right:auto;
} 


.btn{
    
  
   margin-left:4px;
   margin-right:4px;
    margin-top: 30px;
    background: #dfe1e5;
    
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right:16px;
    padding-left:16px;

    font-size: 14px;
    border-radius: 4px;
    
}

.btn-wrapper{
    display:flex;
    justify-content:center;
} */



body{
   margin:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;  

}
.card{
    display:flex;
    justify-content: space-around;
    width:450px;
    margin: 0  auto;
    
    padding:20px;
    
    text-align:center;
  
    color:#2b2839;
    background: #ddebf8;
    border-bottom: 2px solid #d8cefe;
}
.image{
    width: 150px;
   
}


